<% active_tab 'Questions' %>

<div data-role="header" data-position="inline">
  <h1>Questions</h1>
  <%= toolbar_right_button 'Add', new_question_path, :iconpos => 'right', :icon => 'plus' %>
</div>

<% if notice %>
  <div id="notice" class="ui-body ui-body-e"><%= notice %></div>
<% end %>

<div data-role="content">
  <ul data-role="listview">
  <% @questions.each do |question| %>
    <li> 
      <%= table_view_link question do %>
        <h2><%= question.title %></h2>
        <p><%= question.body %></p>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

