<% active_tab 'Questions' %>

<div data-role="header">
  <%= toolbar_button 'Back', questions_path, :icon => 'arrow-l', :direction => 'reverse' %>
  <h1>Question</h1>
  <%= toolbar_right_button 'Edit', edit_question_path(@question),
    :iconpos => 'right', :icon => 'gear' %>
</div>

<% if notice %>
  <div id="notice" class="ui-body ui-body-e"><%= notice %></div>
<% end %>

<div data-role="content">
  <h2><%= @question.title %></h2>
  <p><%= @question.body %></p>
  
  <p class="question-attribution">
    &mdash; <em><%= @question.author %>, <%= distance_of_time_in_words @question.created_at, Time.now %> ago.</em>
  </p>
  
  <p class="question-catagory">Catagory: <span class="label"><%= @question.catagory %></p>
</div>


