<div data-role="header">
  <%= toolbar_button 'Back', questions_path, :icon => 'arrow-l', :direction => 'reverse' %>
  <h1>Question</h1>
  <%= toolbar_right_button 'Edit', edit_question_path(@question),
    :iconpos => 'right', :icon => 'gear', :prefetch => 'true' %>
</div>

<% if notice %>
  <div id="notice" class="ui-body ui-body-e"><%= notice %></div>
<% end %>

<div data-role="content">
  <p>
    <b>Title:</b>
    <%= @question.title %>
  </p>
  
  <p>
    <b>Body:</b>
    <%= @question.body %>
  </p>
  
  <p>
    <b>Author:</b>
    <%= @question.author %>
  </p>
  
  <p>
    <b>Catagory:</b>
    <%= @question.catagory %>
  </p>
</div>


