<!DOCTYPE html>
<html>
<head>
  <title>Shredder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<% if static_url %>
<div data-role="page" data-url="<%= static_url %>">
<% else %>
<div data-role="page">
<% end %>
  <%= yield %>
  <div data-role="footer" data-position="fixed" data-id="application-footer">
    <div data-role="navbar">
      <ul>
        <li><%= footer_nav_item 'Questions', questions_path %></li>
        <li><%= footer_nav_item 'Categories', categories_path %></li>
        <li><%= footer_nav_item 'Logout', logout_path %></li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
